### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
/debs/
### Vagrant ###
scripts/*.log
scripts/.vagrant/
env.sh
/scripts/env.sh
env.sh

env2.sh

bootstrap-aarch64.zip

bootstrap-arm.zip

bootstrap-i686.zip

bootstrap-x86_64.zip
